.rectangle {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin: 30px;
}
.green {
    background-color: green;
    color: white;
}
.blue {
    background-color: blue;
    color: white;
}
.orange {
    background-color: orange;
    color: white;
}
